@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(class *));

@theme {
  --color-*: initial;
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  --color-gray-a1: var(--gray-a1);
  --color-gray-a2: var(--gray-a2);
  --color-gray-a3: var(--gray-a3);
  --color-gray-a4: var(--gray-a4);
  --color-gray-a5: var(--gray-a5);
  --color-gray-a6: var(--gray-a6);
  --color-gray-a7: var(--gray-a7);
  --color-gray-a8: var(--gray-a8);
  --color-gray-a9: var(--gray-a9);
  --color-gray-a10: var(--gray-a10);
  --color-gray-a11: var(--gray-a11);
  --color-gray-a12: var(--gray-a12);

  --color-gray-contrast: var(--gray-contrast);
  --color-gray-surface: var(--gray-surface);
  --color-gray-indicator: var(--gray-indicator);
  --color-gray-track: var(--gray-track);

  --color-accent-1: var(--red-1);
  --color-accent-2: var(--red-2);
  --color-accent-3: var(--red-3);
  --color-accent-4: var(--red-4);
  --color-accent-5: var(--red-5);
  --color-accent-6: var(--red-6);
  --color-accent-7: var(--red-7);
  --color-accent-8: var(--red-8);
  --color-accent-9: var(--red-9);
  --color-accent-10: var(--red-10);
  --color-accent-11: var(--red-11);
  --color-accent-12: var(--red-12);

  --color-accent-a1: var(--red-a1);
  --color-accent-a2: var(--red-a2);
  --color-accent-a3: var(--red-a3);
  --color-accent-a4: var(--red-a4);
  --color-accent-a5: var(--red-a5);
  --color-accent-a6: var(--red-a6);
  --color-accent-a7: var(--red-a7);
  --color-accent-a8: var(--red-a8);
  --color-accent-a9: var(--red-a9);
  --color-accent-a10: var(--red-a10);
  --color-accent-a11: var(--red-a11);
  --color-accent-a12: var(--red-a12);

  --color-accent-contrast: var(--red-contrast);
  --color-accent-surface: var(--red-surface);
  --color-accent-indicator: var(--red-indicator);
  --color-accent-track: var(--red-track);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--gray-200, currentColor);
  }
}

:root {
  --radius: 0.5rem;
}

:root,
.light,
.light-theme {
  --red-1: #fcf9f9;
  --red-2: #fcf4f4;
  --red-3: #fce6e6;
  --red-4: #ffd7d8;
  --red-5: #ffc9ca;
  --red-6: #f9b9bb;
  --red-7: #f1a5a8;
  --red-8: #e88a90;
  --red-9: #f6405f;
  --red-10: #e82e53;
  --red-11: #cc003f;
  --red-12: #690f21;

  --red-a1: #fc3d3d04;
  --red-a2: #fc1a1a09;
  --red-a3: #fc090917;
  --red-a4: #ffd7d8;
  --red-a5: #ffc9ca;
  --red-a6: #f1010944;
  --red-a7: #dd030c59;
  --red-a8: #d1020f74;
  --red-a9: #f4022bbf;
  --red-a10: #e4012ed1;
  --red-a11: #cc003f;
  --red-a12: #600013f0;

  --red-contrast: #fff;
  --red-surface: #fdf3f3cc;
  --red-indicator: #f6405f;
  --red-track: #f6405f;

  --gray-1: #f9f9fa;
  --gray-2: #f5f6f8;
  --gray-3: #ececf0;
  --gray-4: #e3e4e8;
  --gray-5: #dcdde2;
  --gray-6: #d4d5dc;
  --gray-7: #c8cad2;
  --gray-8: #b4b6c2;
  --gray-9: #878994;
  --gray-10: #7c7e89;
  --gray-11: #5e5f68;
  --gray-12: #1e1f24;

  --gray-a1: #3d3d7d04;
  --gray-a2: #1d3d7d08;
  --gray-a3: #0c0c4811;
  --gray-a4: #0711381a;
  --gray-a5: #050d3421;
  --gray-a6: #040a3529;
  --gray-a7: #020c3235;
  --gray-a8: #01083249;
  --gray-a9: #02061e77;
  --gray-a10: #00041a82;
  --gray-a11: #000210a0;
  --gray-a12: #000107e1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #878994;
  --gray-track: #878994;
}

.dark,
.dark-theme {
  --red-1: #170e0f;
  --red-2: #1f1414;
  --red-3: #3c1217;
  --red-4: #520d19;
  --red-5: #631321;
  --red-6: #75202c;
  --red-7: #8f2e3b;
  --red-8: #bb3c4e;
  --red-9: #f6405f;
  --red-10: #e72f53;
  --red-11: #ff8e97;
  --red-12: #ffd1d2;

  --red-a1: #ec000007;
  --red-a2: #ff44440f;
  --red-a3: #fb17322f;
  --red-a4: #fe032f46;
  --red-a5: #ff174058;
  --red-a6: #fd35516c;
  --red-a7: #ff486187;
  --red-a8: #fe4d66b7;
  --red-a9: #fe4161f6;
  --red-a10: #fe325ae6;
  --red-a11: #ff8e97;
  --red-a12: #ffd1d2;

  --red-contrast: #fff;
  --red-surface: #2d171780;
  --red-indicator: #f6405f;
  --red-track: #f6405f;

  --gray-1: #111;
  --gray-2: #191919;
  --gray-3: #232323;
  --gray-4: #2a2a2a;
  --gray-5: #313131;
  --gray-6: #3a3a3a;
  --gray-7: #484848;
  --gray-8: #606060;
  --gray-9: #6e6e6e;
  --gray-10: #7c7c7c;
  --gray-11: #b4b4b4;
  --gray-12: #eee;

  --gray-a1: #00000000;
  --gray-a2: #ffffff09;
  --gray-a3: #ffffff13;
  --gray-a4: #ffffff1b;
  --gray-a5: #ffffff22;
  --gray-a6: #ffffff2c;
  --gray-a7: #ffffff3b;
  --gray-a8: #ffffff55;
  --gray-a9: #ffffff64;
  --gray-a10: #ffffff73;
  --gray-a11: #ffffffaf;
  --gray-a12: #ffffffed;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6e6e6e;
  --gray-track: #6e6e6e;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (gamut: p3) {
    :root,
    .light,
    .light-theme {
      --red-1: oklch(98.4% 0.0036 16.45);
      --red-2: oklch(97.3% 0.0093 16.45);
      --red-3: oklch(94.3% 0.0245 16.45);
      --red-4: oklch(91.6% 0.0478 16.45);
      --red-5: oklch(88.4% 0.0621 16.45);
      --red-6: oklch(84.5% 0.0747 16.45);
      --red-7: oklch(79.6% 0.09 16.45);
      --red-8: oklch(73.4% 0.1144 16.45);
      --red-9: oklch(64.9% 0.2164 16.45);
      --red-10: oklch(60.9% 0.2177 16.45);
      --red-11: oklch(53.6% 0.2164 16.45);
      --red-12: oklch(34.1% 0.1218 16.45);

      --red-a1: color(display-p3 0.6627 0.0118 0.0118 / 0.012);
      --red-a2: color(display-p3 0.8667 0.0118 0.0118 / 0.032);
      --red-a3: color(display-p3 0.8118 0.0549 0.0078 / 0.088);
      --red-a4: color(display-p3 0.9098 0.0039 0.0314 / 0.143);
      --red-a5: color(display-p3 0.8902 0.0039 0.0039 / 0.195);
      --red-a6: color(display-p3 0.7882 0.0039 0.0039 / 0.254);
      --red-a7: color(display-p3 0.7333 0.0039 0.0157 / 0.334);
      --red-a8: color(display-p3 0.6941 0.0039 0.0392 / 0.437);
      --red-a9: color(display-p3 0.8431 0 0.1098 / 0.683);
      --red-a10: color(display-p3 0.7804 0 0.1176 / 0.743);
      --red-a11: color(display-p3 0.6863 0 0.1294 / 0.846);
      --red-a12: color(display-p3 0.3137 0 0.0471 / 0.905);

      --red-contrast: #fff;
      --red-surface: color(display-p3 0.9843 0.9529 0.9529 / 0.8);
      --red-indicator: oklch(64.9% 0.2164 16.45);
      --red-track: oklch(64.9% 0.2164 16.45);

      --gray-1: oklch(98.2% 0.0015 277.7);
      --gray-2: oklch(97.2% 0.003 277.7);
      --gray-3: oklch(94.5% 0.0045 277.7);
      --gray-4: oklch(92% 0.0061 277.7);
      --gray-5: oklch(89.8% 0.0077 277.7);
      --gray-6: oklch(87.4% 0.0093 277.7);
      --gray-7: oklch(84% 0.0117 277.7);
      --gray-8: oklch(77.9% 0.016 277.7);
      --gray-9: oklch(63.1% 0.0165 277.7);
      --gray-10: oklch(59.5% 0.0161 277.7);
      --gray-11: oklch(48.9% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);

      --gray-a1: color(display-p3 0.0118 0.0118 0.3373 / 0.012);
      --gray-a2: color(display-p3 0.0118 0.149 0.4314 / 0.028);
      --gray-a3: color(display-p3 0.0118 0.0118 0.2549 / 0.064);
      --gray-a4: color(display-p3 0.0078 0.0471 0.2039 / 0.1);
      --gray-a5: color(display-p3 0.0039 0.0314 0.1882 / 0.127);
      --gray-a6: color(display-p3 0.0039 0.0275 0.1765 / 0.159);
      --gray-a7: color(display-p3 0.0039 0.0431 0.1765 / 0.207);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1804 / 0.286);
      --gray-a9: color(display-p3 0.0039 0.0196 0.102 / 0.465);
      --gray-a10: color(display-p3 0 0.0157 0.0941 / 0.508);
      --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.627);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.881);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(63.1% 0.0165 277.7);
      --gray-track: oklch(63.1% 0.0165 277.7);
    }

    .dark,
    .dark-theme {
      --orange-1: oklch(17.8% 0.0096 67.1);
      --orange-2: oklch(20.9% 0.0149 67.1);
      --orange-3: oklch(25.6% 0.0343 67.1);
      --orange-4: oklch(29.1% 0.0588 67.1);
      --orange-5: oklch(33.1% 0.0673 67.1);
      --orange-6: oklch(38.1% 0.0706 67.1);
      --orange-7: oklch(44.5% 0.078 67.1);
      --orange-8: oklch(53% 0.096 67.1);
      --orange-9: oklch(80.6% 0.1316 67.1);
      --orange-10: oklch(77.3% 0.1316 67.1);
      --orange-11: oklch(79.9% 0.1316 67.1);
      --orange-12: oklch(92.2% 0.0469 67.1);

      --orange-a1: color(display-p3 0.9412 0 0 / 0.009);
      --orange-a2: color(display-p3 0.9882 0.5686 0.1529 / 0.047);
      --orange-a3: color(display-p3 0.9961 0.6196 0.102 / 0.114);
      --orange-a4: color(display-p3 1 0.5333 0 / 0.177);
      --orange-a5: color(display-p3 1 0.5765 0.051 / 0.232);
      --orange-a6: color(display-p3 1 0.6353 0.2039 / 0.29);
      --orange-a7: color(display-p3 0.9961 0.6863 0.2941 / 0.379);
      --orange-a8: color(display-p3 1 0.698 0.3176 / 0.505);
      --orange-a9: color(display-p3 1 0.7451 0.4392 / 0.925);
      --orange-a10: color(display-p3 1 0.7333 0.4157 / 0.879);
      --orange-a11: color(display-p3 1 0.749 0.4392 / 0.912);
      --orange-a12: color(display-p3 0.9961 0.9137 0.8118 / 0.963);

      --orange-contrast: #2e1e0b;
      --orange-surface: color(display-p3 0.149 0.1098 0.0706 / 0.5);
      --orange-indicator: oklch(80.6% 0.1316 67.1);
      --orange-track: oklch(80.6% 0.1316 67.1);

      --gray-1: oklch(17.8% 0 none);
      --gray-2: oklch(21.4% 0 none);
      --gray-3: oklch(25.4% 0 none);
      --gray-4: oklch(28.4% 0 none);
      --gray-5: oklch(31.3% 0 none);
      --gray-6: oklch(34.9% 0 none);
      --gray-7: oklch(40.2% 0 none);
      --gray-8: oklch(48.9% 0 none);
      --gray-9: oklch(53.9% 0 none);
      --gray-10: oklch(58.5% 0 none);
      --gray-11: oklch(77% 0 none);
      --gray-12: oklch(94.9% 0 none);

      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 1 1 1 / 0.0336);
      --gray-a3: color(display-p3 1 1 1 / 0.0756);
      --gray-a4: color(display-p3 1 1 1 / 0.105);
      --gray-a5: color(display-p3 1 1 1 / 0.1345);
      --gray-a6: color(display-p3 1 1 1 / 0.1723);
      --gray-a7: color(display-p3 1 1 1 / 0.2311);
      --gray-a8: color(display-p3 1 1 1 / 0.3319);
      --gray-a9: color(display-p3 1 1 1 / 0.3908);
      --gray-a10: color(display-p3 1 1 1 / 0.4496);
      --gray-a11: color(display-p3 1 1 1 / 0.6849);
      --gray-a12: color(display-p3 1 1 1 / 0.9286);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.9% 0 none);
      --gray-track: oklch(53.9% 0 none);
    }
  }
}

@layer base {
  body {
    background: var(--gray-1);
    color: var(--gray-12);
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: var(--gray-6);
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: var(--red-9);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--red-9);
  }

  ::-webkit-scrollbar-thumb:active {
    background: var(--red-10);
  }
}
